.flip-clock {
    font-size: 3.1vw;
    justify-content: center;
}

@media only screen and  (min-width: 700px) {
    .flip-clock {
        font-size: 23px;
        justify-content: center;
    }
}

@media only screen and  (max-width: 350px) {
    .flip-clock {
        font-size: 11.5px;
        justify-content: center;
    }
}
